<ion-header no-border>
  <ion-navbar color ="white">
    <ion-title>
      Connection
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-list-header>
      availlable Devices
    </ion-list-header>




  <button round ion-button block (click)="startScanning()">Scan</button>
  <ion-list-header>
    Paired Devices
  </ion-list-header>
  <ion-item *ngFor="let device of pairedDevices">
    {{device.name}}
  </ion-item>
  <button round ion-button block (click)="disconnect()">Disconnect</button>
  <ion-list-header>
    availlable Devices
  </ion-list-header>
  <ion-item *ngFor='let device of unpairedDevices'>
    <span (click)="selectDevice(device.address)">
      {{device.name}}
    </span>
  </ion-item>
  <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>

</ion-list>

<!-- <div #map id = "map"></div> -->

<!-- {{Destination}} - {{Destination}} -->

</ion-content>
